rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /v1/{networkName}/nftContract/{nftContractAddress} {
      function nftContract() {
        return get(/databases/$(database)/documents/v1/$(networkName)/nftContract/$(nftContractAddress)).data
      }
      allow read: if nftContract().ownerAddress == request.auth.uid;
      match /metadata/{tokenId} {
        allow read, write: if nftContract().ownerAddress == request.auth.uid;
      }
    }
  }
}
