rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAnyAuthenticated() {
      return request.auth != null;
    }

    function isUserAuthenticated(address) {
      return isAnyAuthenticated() && request.auth.uid == address;
    }

    function documentPath(paths) {
      return path([['databases', database, 'documents'].join('/'), paths.join('/')].join('/'));
    }

    function existingData() {
      return resource.data;
    }

    function getData(path) {
      return get(path).data;
    }

    function nftContract(name, address) {
      return getData(documentPath('v1', name, 'nftContract', address)))
    }

    match /v1/{networkName}/ {
      match /nftContract/{nftContractAddress} {
        allow read: if isUserAuthenticated(existingData().ownerAddress);
    
        match /metadata/{tokenId} {
          allow read, write: if isUserAuthenticated(nftContract(networkName, nftContractAddress).ownerAddress);
        }
      }
    }
  }
}
